<!DOCTYPE html>
<html>

{% include './head_content.html' %}

<body onload="onLoadLog()">
    {% include './navbar.html' %}

    <h1 class="text-center">Update Log {{ tracker.name }}</h1>
    <form action="/activity/{{ activity.id }}/update" class="container" method="POST" id="update-tracker-log">
        <div class="mb-3">
            <label class="form-label">When: </label>
            <input type="datetime-local" class="form-control" name="timestamp" id="whenDateTime" required />
            <input type="hidden" id="utctime" name="utctimestamp">
        </div>

        {% if tracker.type == 1 %}
        <div class="mb-3">
            <label class="form-label">Value:</label>
            <input type="number" min="0" class="form-control" name="tvalue" step="any" required />
        </div>

        {% elif tracker.type == 2 %}
        <div class="mb-3">
            {% set options = tracker.settings.split(',') %}
            <label class="form-label">Select:</label>
            {% for p in options %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="tvalue" value="{{p}}" />
                <label class="form-check-label">{{p}}</label>
            </div>
            {% endfor %}

        </div>

        {% elif tracker.type == 3 %}
        <div class="mb-3">
            <label class="form-label">Hours:</label>
            <input type="number" min="0" class="form-control" name="tvalue" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Minutes:</label>
            <select class="form-select" name="tvalue" aria-label="Default select example">

                {% for min in range(0,60) %}
                <option value="{{min}}">{{min}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Seconds:</label>

            <select class="form-select" name="tvalue" aria-label="Default select example">
                {% for sec in range(0,60) %}
                <option value="{{sec}}">{{sec}}</option>
                {% endfor %}
            </select>
        </div>

        {% elif tracker.type == 4 %}
        <div class="mb-3">
            <label class="form-label">Value:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>

        {% endif %}
        <div class="mb-3">
            <label class="form-label">Note</label>
            <textarea type="text" class="form-control" rows="4" name="note"></textarea>
        </div>

        <div class="mb-3">
            <input class="btn btn-primary" class="form-control" type="submit" value="Log it">
        </div>
    </form>

</body>

</html>